extends ../layout

block content
    a(href="/bicicletas/crear") Crear bicicleta
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicaión
                th(scope='col') Editar
                th(scope='col') Borrar
        tbody
            each bici in allBicicletas
                tr
                    td(scope='row')= bici._id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href='/bicicletas/' + bici.id + '/editar') Editar
                    td
                        //- form.inline(method="post" action="/bicicletas/" + bici.id + '/delete')
                        form.inline(method="post" action="/bicicletas/delete")
                            input(type="hidden" name="id" value=bici.id)
                            button.link-button(type="submit" name='submit' class='btn btn-primary') Borrar